body {
    background-size: 100%;
}

#homepage-body {
    background-image: url(Photos/Home2.jpg);
    height: 1040px;
}

#about-me-body {
    background-image: url(Photos/About-Me-Background.jpg);
}

#contact-body {
    background-image: url(Photos/Contact-Background.jpg);
    height: 1040px;
}

#gallery-body {
    background-image: ;
    height: 1040px;
}

#projects-body {
    background-image: ;
    height: 1040px;
}
#logo img {
    width:80px;
    height: 80px;
}

.topnav {
    background-color: #206369;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    border: #2A3A45 outset 4px;
    border-radius: 10px;
    padding-bottom: 40px;
    width: 100%;
}

.topnav a {
    float: left;
    color: #2A3A45;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 20px;
}

.skeuomorphic-buttons-navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    width: 100%; 
    font-family: 'Montserrat', sans-serif;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    text-align: center;
    font-size: 12px;
}

.skeuomorphic-buttons {
    border: 2px outset #2A3A45;
    border-radius: 10px;
    outline-offset: 1px;
    box-shadow: 0 8px;
    background-color: #6E838A;
    margin-top: 10px;
}

.skeuomorphic-buttons:hover {
    cursor: pointer;
    text-decoration: underline #2a3a45;
}

.skeuomorphic-buttons:active {
    margin-top: 18px;
    box-shadow: 0 0px;
    background-color: #2a3a45;
    color: #6E838A;
    border: 2px outset #6E838A;
    text-decoration: underline #6E838A;
}

.moon-container {
    margin-top: 285px;
    margin-left: 86px;
    margin-right: 2000px;
}

#moon {
    width: 350px;
    height: 350px;
    border: #BBE4EC groove 2px;
    border-radius: 40px;
}

.tron-background-container {
    margin-top: -510px;
    margin-left: 950px;
}

#tron-background {
    border: #BBE4EC ridge 2px;
    border-radius: 40px;
    width: 320px;
    height: 179.7px;
}

.jupiter-container {
    margin-top: -274px;
    margin-left: 232px;
}

#jupiter {
    border: #BBE4EC inset 2px;
    border-radius: 40px;
    width: 499.2px;
    height: 87.2px;
}

.saturn-container {
    margin-top: 486.5px;
    margin-left: 546px;
}

#saturn {
    border: #BBE4EC outset 2px;
    border-radius: 100%;
    width: 180.8px;
    height: 180.8px;
}

.keyboard-container {
    margin-top: -182px;
    margin-left: 1288px;
}

#keyboard {
    border: #BBE4EC groove 2px;
    border-radius: 40px;
    width: 230.4px;
    height: 172.8px;
}

.quick-about-me-container {
    margin-top: -480px;
    margin-left: 950px;
    border: #BBE4EC inset 2px;
    border-radius: 40px;
    background-color: #2A3A45;
    width: 570px;
}

#quick-about-me {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #BBE4EC;
    text-indent: 30px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}